*.exe
*.png
*.jpg
*.csv
*.zip
master_mapping.json
master_mapping_v2.json
overall_mapping.json
vc_image_path.json
brand_model_mapping.json
*.DS_Store
/data
/gcp-sql
/prediction
/old_data
/new_data
/credential
/bag
/bag_image_v2


__pycache__
.idea

node_modules

migration.py